.root {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 90vw;
    gap: 0.5em;
    user-select: none;

    /* assuming 3 rows of 7 buttons, each 4em by 3em */
    font-size: min(90vw / 21, 100vh / 13);
}

.noteButtons {
    display: flex;
    gap: 0.5em;
    flex-direction: column-reverse;
}

.controls {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.controlButton {
    font-size: 1em;
    min-width: 1.5em;
    height: 2em;
    background-color: #333;
    color: #ccc;
}